*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.regmain{
    background-color: aqua;
}
.regcont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}